*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
    position: fixed;
    background-position: center;
}

.headeraceidente{
    width: 100%;
    height: 100vh;
    background: #8c0000;
    position: fixed;
    background-position: center;
}

.side-nav{
    width: 15%;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    display: inline-block;

}

.logo{
    display: block;
    margin-bottom: 130px;
    width: 300%;

}

.ecra{
    /*position: fixed; */
    /* padding: 10% 26.7%; */
    /* left: 0; */
    /* top: 0; */
    /* width: 122.2%; */
    /* height: 100.3%; */
    /* margin: 10% 26.7%; */
    margin-top: 7%;
    margin-bottom: 43%;
    margin-left: 20.8%;
    margin-right: 5.5%;
}

.botaoACI{


    border: 5px solid yellow;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #ff0000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 29px;
}

.logo-img{
    width: 35%;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;

}

.nav-links li a i{
    font-size: 22px;
    margin-right: 10px;
}

.nav-links li:hover a{
    color: #0d74f5;
    transition: 0.3s;
}

.nav-links li:hover ~ .active{
    display: block;
}
/* PARA AS 6 <LI>*/
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.2%;
}
/*100:6=16.6+2.2*/
.nav-links li:nth-child(2):hover ~ .active{
    top: 23%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 43%;
}
/*
.nav-links li:nth-child(4):hover ~ .active{
    top: 52%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 68.6%;
}

.nav-links li:nth-child(6):hover ~ .active{
    top: 85.2%;
}
*/


.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}

.radios:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.radios {
    transition: transform .2s;
}
.radioss {
    transition: transform .2s;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.veiculo {
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.veiculo-1 {
    background-color: transparent;
    border: 3px solid rgba(0, 3, 4, 0.56);
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: rgba(0, 3, 4, 0.56);
}
.veiculo-1:hover {
    box-shadow: 0 0 10px 0 rgba(0, 3, 4, 0.56) inset, 0 0 20px 2px rgba(0, 3, 4, 0.56);
    border: 3px solid #757474;
}





/*contactos*/
.headerXX{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
    padding: 2em;
    align-items: center;
}

.contacts-library{
    background: #9ca4ad;
}


i{
    color: black;
    font-size: 1.5em;
}

.contact-name{

    color: black;
    justify-content: space-evenly;
    font-size: 1.2em;

}

hr.new5 {
    border: 2px solid black;
    width: 100%;
}

.list__item{
    list-style: none;

}


.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    transition: 0.3s;
}

.contact-section:hover{
    background-color: #45474d;
}


.space{
    margin-right: 10px;
}
.icon-gradient{
    background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
    border-radius: 100px;
    font-size: 1.5em;
    padding: .5em;
}

.contactos{
    width:83%;
}

/* --------------------------------------------------------- */


/* CONTADOR*/

.base-timer {
    position: relative;
    width: 200px;
    height: 200px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}





/*pop uppppppp*/
.popup {
    width: 500px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.popup h2{
    font-size: 45px;
    font-weight: 500;
    margin: 30px 0 10px; }


.popup button{ width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #ff0000;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.imgpopup{  width: 100px;
    margin-top: -60px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}


.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);

}

/* BARRA TEMPERATURA */
/*
.caixote{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), #edf1f4);
    border-radius: 40px;

}*/

hr{
    width: 82%;
}

.range{
    width: 300px;
    height: 15px;
    appearance: none;
    background: #edf1f4;
    outline: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -5px -5px 10px #fff, inset 5px 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #0074cf;
    box-shadow: -300px 0 0 300px #27a0ff!important;
    cursor: pointer;
}

#rangeValue{
    position: relative;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.25em;
    color: #fff;
    background: #27a0ff;
    margin-left: 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0,0,0,0.1),
    inset -5px -5px 5px rgba(255,255,255,0.25);
}


