*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}

.side-nav{
    width: 13%;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;

}

.logo{
    display: block;
    margin-bottom: 130px;
    width: 300%;

}

.ecra{
    position: fixed;
    /* padding: 10% 26.7%; */
    /* left: 0; */
    /* top: 0; */
    /* width: 122.2%; */
    /* height: 100.3%; */
    /* margin: 10% 26.7%; */
    margin-top: 10.7%;
    margin-bottom: 43%;
    margin-left: 20.8%;
    margin-right: 5.5%;
}

.logo-img{
    width: 35%;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;

}

.nav-links li a i{
    font-size: 22px;
    margin-right: 10px;
}

.nav-links li:hover a{
    color: #0d74f5;
    transition: 0.3s;
}

.nav-links li:hover ~ .active{
    display: block;
}
/* PARA AS 6 <LI>*/
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.2%;
}
/*100:6=16.6+2.2*/
.nav-links li:nth-child(2):hover ~ .active{
    top: 18.8%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 35.4%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 52%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 68.6%;
}

.nav-links li:nth-child(6):hover ~ .active{
    top: 85.2%;
}

.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}

.radios:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.radios {
    transition: transform .2s;
}


